.movie-card {
  display: block;
  max-width: 364px;
  width: 100%;
  border-radius: 6px;
  background: #222;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr max-content;
  grid-template-rows: 1fr auto auto;
  grid-template-areas:
    'thumbnail thumbnail'
    'name button'
    'duration .';
}

/* @media (min-width: 768px) {
  .movie-card {
    --gap: 18px;
  }
} */

.movie-card__thumbnail {
  grid-area: thumbnail;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.movie-card__name {
  grid-area: name;
  margin: 0 0 0 16px;
  color: #FFF;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* @media (min-width: 768px) {
  .movie-card__name {
    font-size: 15px;
    line-height: 1.2;
  }
} */

.movie-card__duration {
  grid-area: duration;
  margin: 0 auto 16px 16px;
  color: #8B8B8B;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* @media (min-width: 768px) {
  .movie-card__duration {
    font-size: 13px;
    line-height: 1.38;
  }
} */


/* .movie-card__button {
  width: 30px;
  height: 30px;
  grid-area: button;
  justify-self: center;
  margin-inline: 16px;
} */

.movies-card__button {
	border: none;
	width: 30px;
	height: 30px;
	padding: 0;
	margin-right: 16px;
	cursor: pointer;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 11px;
  background: transparent url(../../images/save4d.svg) center no-repeat;
}

.movies-card__button_type_saved {
  background: url(../../images/icon__done.svg) center no-repeat;
}

.movies-card__button_type_delete {
  background: #222;
}

.movies-card__button_type_delete:hover {
  background: url(../../images/d4.svg) center no-repeat;
  color: #fff;
}

.movies-card__button:hover {
	opacity: .7;
  transition: .3s;
}
