.center {
  grid-column: 1 / -1; /* Занимает все колонки горизонтально */
  display: flex;
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
}
