.portfolio {
  margin: 0;
  padding: 0 70px 100px;
}

.portfolio__title {
  color: #8B8B8B;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0 0 50px;
}

.portfolio__link {
  position: relative;
  border-bottom: 1px solid #424242;
  display: flex;
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: -1.2px;
  padding-bottom: 19px;
  transition: .1s ease;
  align-items: flex-start;
  /* background: url("./../../images/font-main.svg") no-repeat right top;
  background-size: 29px;
  background-position-y: 9px; */
}

.portfolio__link::after {
  position: absolute;
  content: '↗';
  right: 0;
  top: 0px;
}

.portfolio__link:not(:first-child) {
  margin-top: 20px;
}

.portfolio__link:hover {
  opacity: .7;
}

/* 768px - 1279px  */
@media (max-width: 1279px) {
  .portfolio {
    padding: 0 50px 70px;
  }

  .portfolio__title {
    color: #A0A0A0;
    margin-bottom: 50px;
  }

  .portfolio__link {
    font-size:  28px;
    letter-spacing: -1.12px;
    background-size: 17px;
    background-position-y: 18px;
    background-position-x: 645px;
  }
}

/* 320px - 768px */
@media (max-width: 768px) {
  .portfolio {
    padding: 0 14px 70px;
  }

  .portfolio__title {
    color: #A0A0A0;
    font-size: 14px;
    margin-bottom: 40px;
  }

  .portfolio__link {
    position: relative;
    border-bottom: 1px solid #E6E6E6;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.72px;
    background-size: 18px;
    background-position-y: 28px;
  }

  .portfolio__link:last-child {
    border-bottom: none;
  }
}
