.header__burger-btn {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 2;
  cursor: pointer;
  padding: 0;
  margin: 1px;
}

.header__burger-btn span {
  display: block;
  position: absolute;
  width: 22px;
  height: 2px;
  left: 10px;
  background-color: #FFF;
  transition: background-color .3s, opacity .3s, transform .5s;
  will-change: transform;
}

.header__burger-btn:hover span {
  background-color: rgb(103, 103, 103);
}

.header__burger-btn span:nth-child(1) {
  transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) {
  transform: translateY(10px);
}

.menu {
  display: none;
  position: absolute;
  gap: 28px;
  right: -557px;
  top: 0;
  max-width: 500px;
  width: 100%;
    /* height: 100%; */
  padding: 159px 20px 90px 20px;
  background-color: #202020;
  visibility: hidden;
  transition: transform .5s, visibility .5s;
  will-change: transform;
  z-index: 1;
}

/* Крестик */

/* .header__burger-btn span {
  background-color: white;
}

.header__burger-btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.header__burger-btn span:nth-child(2) {
  opacity: 0;
}

.header__burger-btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
} */


@media (max-width: 1279px) {
  .header__burger-btn {
    display: block;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .menu-open {
    transform: translateX(-100%);
    visibility: visible;
  }

  .menu__profile {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;}
}

@media (max-width: 768px) {
  .header__burger-btn {
    display: block;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    gap: 28px;
    right: -320px;
    top: 0;
    max-width: 320px;
    width: 100%;
    /* height: 100%; */
    padding: 144px 0 46px;
    background-color: #202020;
    visibility: hidden;
    transition: transform .5s, visibility .5s;
    will-change: transform;
    z-index: 1;
  }

  .menu-open {
    transform: translateX(-100%);
    visibility: visible;
  }

  .menu__profile {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

/* .hamburger {
  display: none;
  padding: 0;
  width: 44px;
  height: 44px;
  border: none;
  background: url(../../images/burger-menu.svg) no-repeat center/cover;
  cursor: pointer;
} */
/* 768px - 1279px */
/* @media screen and (max-width: 1279px) {
  .hamburger {
    display: block;
  }
} */

/* 320px - 768px */
/* @media screen and (max-width: 768px) {} */

