.search-form {
  background-color: #202020;
  padding: 60px 70px 80px;
  margin: 0;
}


.search-form__container-input {
  display: grid;
  grid-template-columns: auto 40px;
  justify-content: stretch;
  align-items: center;
  border-radius: 40px;
  background-color: #2F2F2F;;
}

.search-form__input {
  width: 100%;
  margin: 0;
  padding-left: 22px;
  border: none;
  padding-block: 15px;
  color: #8B8B8B;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  border-radius: 40px;
  background: transparent;
  outline: none; /* Убираем свечение */
}

.search-form__button {
  width: 34px;
  height: 34px;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 40px;
  background-image: url(/src/images/find.svg);
  background-repeat: no-repeat;
}

.search-form__button:hover {
  opacity: 0.8;
}

.search-form__button:active {
  transform: scale(0.9);
}

.search-form__checkbox {
  grid-area: checkbox;
  justify-self: center;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
/* @media (min-width: 768px) {
  .search-form__input {
    padding-block: 13px;
    font-size: 28px;
    line-height: 1.21;
  }
} */

/* .search-form__input:focus {
  border-bottom-color: var(--primary);
  outline: none;
} */

/* .search-form__input::placeholder {
  color: var(--on-surface-variant);
} */

/* @media (min-width: 768px) {
  .search-form {
    padding-top: 67px;
    padding-bottom: 60px;
    row-gap: 30px;
  }
}

@media (min-width: 1280px) {
  .search-form {
    padding-top: 57px;
    padding-bottom: 47px;
    row-gap: 32px;
  }
} */

/* @media (min-width: 768px) {
  .search-form__checkbox {
    justify-self: end;
  }
}

@media (min-width: 1280px) {
  .search-form__checkbox {
    justify-self: start;
  }
} */
