.techs {
  background-color: #272727;
  padding: 100px 70px;
}

.techs__title {
  color: #FFF;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  border-bottom: 1px solid #DADADA;
  padding-bottom: 30px;
  margin: 0;
}

.techs__subtitle {
  color: #FFF;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px; /* 116% */
  letter-spacing: -2px;
  margin: 90px auto 26px;
}

.techs__description {
  max-width: 460px;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.56px;
  margin: 0 auto 100px;
}

.techs__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 90px);
  grid-template-rows: 60px;
  justify-content: center;
  grid-gap: 10px;
}

.techs__skill {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
  text-decoration: none;
  margin: 0;
  background: #303030;
  border-radius: 10px;
  transition: .1s ease;
}

.techs__cell:hover {
 opacity: .6;
}

/* @media (min-width: 768px) {
  .techs {
      padding: 90px 50px;
  }

  .techs__title {
      font-size: 1.375rem;
      line-height: 27px;
      padding-bottom: 23px;
      margin-bottom: 80px;
  }

  .techs__heading {
      font-size: 3.125rem;
      line-height: 58px;
      margin-bottom: 25px;
  }

  .techs__text {
      width: 460px;
      font-size: .75rem;
      line-height: 18px;
      margin-bottom: 85px;
  }
}

@media (min-width: 1280px) {
  .techs {
      padding: 100px 70px;
  }

  .techs__title {
      margin-bottom: 90px;
  }

  .techs__text {
      font-size: .875rem;
      line-height: 20px;
      margin-bottom: 100px;
  }

  .techs__table {
      grid-template-columns: repeat(auto-fit, 90px);
  }

  .techs__cell {
      font-size: .875rem;
      line-height: 14px;
  }
} */
