.auth {
  padding: 70px 0 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #202020;
}

.auth__container {
  width: 100%;
  max-width: 396px;
  height: 560px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.auth__logo-link {
  margin: 0 auto 40px 0;
  transition: opacity 0.3s;
}

.auth__logo-link:hover {
  opacity: 0.8;
}

.auth__logo {
  width: 38px;
  aspect-ratio: 1;
  object-fit: contain;
}

.auth__title {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 auto 40px 0;
  text-align: left;
}

.auth__form {
  flex-grow: 1;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.auth__input-container {
  margin-bottom: 20px;
}

.auth__input-container:last-of-type {
  margin-bottom: 0;
}

.auth__label {
  display: block;
  color: #8B8B8B;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}

.auth__input {
  display: block;
  width: 100%;
  border-radius: 8px;
  border: none;
  background-color: #2F2F2F;
  box-sizing: border-box;
  padding: 15px;
  color: #FFF;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: border 0.3s;
}

.auth__input:focus {
  outline: none;
  border: 1px solid green;
}

.auth__input::placeholder {
  color: var(--on-surface-variant);
}

.auth__error {
  margin: 0;
  margin-block: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: var(--error);
}

.auth__submit-button {
  margin-top: 179px;
  border-radius: 3px;
  border: none;
  background: #4285F4;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 14px;
}

.auth__hint {
  margin: 16px auto 0;
  color: #8B8B8B;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.auth__hint-link {
  color: #4285F4;
  text-decoration: none;
  transition: opacity 0.3s;
}

.auth__hint-link:hover {
  opacity: 0.7;
}

/* @media (min-width: 768px) {
  .auth {
    padding-block: 70px;
    justify-content: center;
  }
}

@media (min-width: 1280px) {
  .auth {
    justify-content: start;
  }
} */

/* @media (min-width: 768px) {
  .auth__container {
    flex-grow: 0;
  }
}

@media (min-width: 1280px) {
  .auth__container {
    flex-grow: 1;
  }
} */

/* @media (min-width: 768px) {
  .auth__logo-link {
    margin-bottom: 40px;
    align-self: flex-start;
  }
} */

/* @media (min-width: 768px) {
  .auth__title {
    margin-bottom: 40px;
    align-self: flex-start;
  }
} */

/* @media (min-width: 768px) {
  .auth__hint {
    margin-top: 16px;
    font-size: 14px;
    line-height: 1.21;
  }
} */
