.navtab {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.navtab__link {
  max-width: 96px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration-line: none;
  color: inherit;
  padding: 10px 0;
  border-radius: 10px;
  background: #303030;
  transition: opacity 0.3s;
}

.navtab__link:hover {
  opacity: 0.7;
}

/*320px - 767px*/
@media screen and (max-width: 767px) {
  .navtab {
    column-gap: 6px;
  }

  .navtab__link {
    max-width: 82px;
    font-size: 10px;
    padding: 5px 0;
    border-radius: 6px;
  }
}
