.navtab {
  background-color: #272727;
  color: #FFF;
  padding-block: 15px;
  display: flex;
  justify-content: center;
  column-gap: 40px;
}

.navtab__link {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration-line: underline;
  display: block;
  color: inherit;
  padding-block: 10px;
  transition: opacity 0.3s;
}

.navtab__link:hover {
  opacity: 0.7;
}

@media (min-width: 768px) {
  .navtab__link {
    font-size: 13px;
    line-height: 1.23;
  }
}

